* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: none
}

html, body {
    scroll-behavior: smooth
}

li {
    list-style: none
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(50, 50, 50, 0.3)
}

::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: rgba(50, 50, 50, 0.1)
}

.col-mb-12.col-tb-8.col-tb-offset-2 {
    margin-left: 0;
    width: 100%
}

.options-contain {
    display: flex;
    word-wrap: break-word
}

.options-contain .options-left-aside {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    width: 200px;
    background: #fff;
    padding: 15px;
    box-shadow: 0px 0px 20px -5px rgba(158, 158, 158, 0.22);
    border-radius: 20px;
}

.options-contain .options-left-aside .options-tab {
    padding: 0;
    margin-bottom: 15px
}

.options-contain .options-left-aside .options-tab li {
    border-radius: 20px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: #606266;
    cursor: pointer;
    transition: all 0.35s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 1rem;
}

.options-contain .options-left-aside .options-tab li.active {
    color: #ffffff;
    background: #292d33;
}

.options-contain .options-left-aside .options-tab li:hover {
    color: #ffffff;
    background: #292d33;
}

.theme-backup input {
    width: 170px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 15px;
    margin-right: 15px;
    border: none;
    color: #fff;
    font-size: 14px;
    border-radius: 20px;
    transition: all 0.35s
}

.theme-backup input:hover {
    opacity: 0.85
}

.theme-backup input:nth-child(1) {
    background: #5cb85c
}

.theme-backup input:nth-child(2) {
    background: #f0ad4e
}

.theme-backup input:nth-child(3) {
    margin-bottom: 0;
    background: #d9534f
}

.options-contain > form {
    position: relative;
    display: none;
    background: #fff;
    flex: 1;
    margin-left: 20px;
    box-shadow: 0px 0px 20px -5px rgba(158, 158, 158, 0.22);
    border-radius: 20px;
}

.options-contain > form .typecho-option {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 20px;
    background: #fff;
    border-top: 1px solid #ebebeb
}

.options-contain > form .typecho-option button {
    width: 150px;
    height: 45px;
    background: #292d33;
    border-radius: 5rem;
}

.options-contain > form .options-content {
    display: none;
    padding: 20px
}

.options-contain > form .options-content li {
    padding: 15px
}

.options-contain > form .options-content li .typecho-label {
    display: block;
    line-height: 40px;
    background: #f7f9fa;
    margin-bottom: 15px;
    padding: 0 15px;
    color: #292d33;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.options-contain > form .options-content li select {
    outline: none;
    padding: 0 10px;
    height: 35px;
    border: 1px solid #e9e9eb;
    color: #666
}

.options-contain > form .options-content li textarea, .options-contain > form .options-content li input[type='text'] {
    background-color: #F7F9FA;
    border: 2px solid #eaeaea;
    border-radius: 1.25rem;
    box-shadow: none;
    color: #000000;
    font-size: inherit;
    height: auto;
    padding: 0.875rem 1.375rem 0.8125rem;
    position: relative;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.options-contain > form .options-content li .multiline {
    display: flex;
    align-items: center;
    color: #666
}

.options-contain > form .options-content li .multiline input[type='checkbox'] {
    margin-right: 5px
}

.options-contain > form .options-content li .description {
    background: #f8f8f8;
    color: #999;
    padding: 10px;
    margin-top: 15px;
    line-height: 24px
}

.options-contain .options-notice {
    display: none;
    margin-left: 20px;
    display: block;
    background: #fff;
    padding: 20px;
    flex: 1;
    box-shadow: 0px 0px 20px -5px rgba(158, 158, 158, 0.22);
    border-radius: 8px
}

.options-contain .options-notice .update {
    font-weight: 700;
    font-size: 15px;
    margin-left: 5px;
    color: #ff3d3d
}

.options-contain .options-notice .no-update {
    font-weight: 700;
    font-size: 15px;
    margin-left: 5px;
    color: #27ae60
}

.options-contain .options-notice p {
    line-height: 30px
}

.options-contain .options-notice ol {
    color: #555;
    padding: 0 40px;
    margin: 10px 0
}

.options-contain .options-notice ol li {
    list-style: decimal;
    line-height: 30px
}

.options-contain .options-notice ul {
    color: #555;
    padding: 0 40px;
    margin: 10px 0
}

.options-contain .options-notice ul li {
    list-style: disc;
    line-height: 30px
}

@media (max-width: 768px) {
    .options-contain {
        display: block
    }

    .options-contain .options-notice {
        margin-left: 0
    }

    .options-contain > form {
        margin-left: 0
    }

    .options-contain > form .options-content {
        padding: 15px
    }

    .options-contain > form .typecho-option {
        padding: 10px 0
    }

    .options-contain .options-left-aside {
        width: 100%;
        margin-bottom: 15px
    }

    .options-contain .options-left-aside .logo {
        display: none
    }

    .options-contain .options-left-aside .options-tab {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid #ebeef5;
        padding-bottom: 10px
    }

    .options-contain .options-left-aside .options-tab li {
        width: 33.33333333%
    }

    .theme-backup {
        display: flex;
        align-items: center;
        justify-content: space-between
    }

    .theme-backup input {
        width: auto;
        flex: 1;
        margin-bottom: 0;
        margin-right: 0;
    }

    .theme-backup input:nth-child(2) {
        margin: 0 10px
    }
}

.options-contain .options-notice .theme-plane {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #858282;
}